section.page-vendas {
    .elvas {
        &_development {
            &-title {
                text-align: center;
                margin: 5% 0;
                @include mq('sm', max){
                    margin: 10% 0 5%;
                }
                h1 {
                    font-weight: 300;
                    @include mq("md",max){
                        font-size: 2rem;
                    }
                    @include mq("sm",max){
                        font-size: 1.3rem;
                    }
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &--item {
                    width: 49%;
                    @include mq("md",max){
                        width: 100%;
                        margin-top: 10%;
                    }
                    &:first-of-type{
                        @include mq("md",max){
                            margin-top: 0;
                        }
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        position: relative;
                    }
                }
            }
            &-category{
                border: 1px solid #ddbe6d;
                padding: 2rem 2rem;
                @include mq("md",max){
                    padding: 1rem 0.5rem;
                } 
                @include mq("sm", max){
                    margin: 5% 0;
                }
                a{
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                }
                .dropdown{
                    .dropdown-item{
                        @include mq("md",max){
                            padding: 0% !important;
                        }
                    }
                }
            } 

            &-card {
                box-shadow: 0 0 4px #8d8d8d8f;

                &.elvas_development-card-hover{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 9;
                    background: #fff;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                    .elvas_development-card--header-image img{
                        filter: brightness(0.7);
                    }
                }
                &:hover{
                    &.elvas_development-card-hover{
                        opacity: 1;
                    }
                    
                }
                &--header {
                    position: relative;

                    &-image {
                        height: 55vh;
                        @include mq("lg",max){
                            height: 48vh; 
                        }
                        @include mq("md",max){
                            height: 55vh; 
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &-link {
                        position: absolute;
                        bottom: 0;
                        z-index: 9;
                        width: 65%;
                        align-items: center;
                        justify-content: space-between;
                        background: #ffff;
                        padding: 1rem 0.5rem 1rem;

                        h3 {
                            color: #000;
                            width: 70%;
                            font-weight: 600;
                            font-size: 1.5rem;
                        }

                        span {
                            color: #000;
                        }
                    }
                    &-logo{
                        position: absolute;
                        top: 25%;
                        left: 25%;
                        width: 13vw;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &--body {
                    padding: 1.2rem 1rem;

                    &-info {
                        &-icon {
                            width: 13px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        &-text {
                            margin-left: 4%;

                            p {
                                font-size: .7rem;
                                margin: 0;
                                line-height: 2;
                                color: #000;
                            }
                        }
                        &-link{
                            text-align: center;
                            span{
                                color: #000;
                                font-weight: 700;
                                padding-bottom: 4px;
                                border-bottom: 2px solid #000;
                            }
                        }
                    }
                }



            }
        }
    }
}