main.login{
    height: 77vh;
    overflow: hidden;
    position: relative;
    @media (max-height: 400px) and (max-width: 650px){
        padding-bottom: 2%;
    }
    @include mq("md", max){
        height: 80vh;
        overflow-y: hidden;
    }
    .login_background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }   
    .elvas{
        &_development{
            &-form{
                width: 46%;
                margin: 25vh auto 0;
                @include mq('md',max){
                margin: 25vh auto 0; 
                }
                @include mq('sm', max){
                    width: 100%;
                }
                form{
                    margin: 0 auto;
                    .form{
                        &-title{
                            text-align: center;
                            margin-bottom: 4vh;
                            @include mq('md',max){
                                margin-bottom: 2vh;
                            }
                            h1{
                                @include mq('lg',max){
                                    font-size: 2rem;
                                }
                                @include mq('md',max){
                                    font-size: 1.7rem;
                                }
                            }
                            h4{
                                color: #fff;
                                font-size: 1rem;
                                line-height: 1.5;
                            }
                        }
                        &-btn{
                            width: 100%;
                            margin: 0 auto;
                            button{
                                display: block;
                                background: #cea547;
                                border-radius: 7px;
                                color: #fff;
                                width: 100%;
                                height: 5vh;
                                text-align: center;  
                                font-weight: 500;
                                cursor: pointer;
                            }
                        }
                        &-group{
                            &-login{
                                position: relative;
                                width: 100%;
                                margin: 0 auto;
                                input{
                                    width: 100%;
                                    height: 5vh;
                                    border: 2px solid #cea547;
                                    border-radius: 7px;
                                    background-color: white;
                                    border-radius: 7px;
                                    text-align: center;
                                }
                            }
                            &-password{
                                position: relative;
                                width: 100%;
                                margin: 0 auto;
                                input{
                                    width: 100%;
                                    height: 5vh;
                                    border: 2px solid #cea547;
                                    border-radius: 7px;
                                    background-color: white;
                                    border-radius: 7px;
                                    text-align: center;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                                span{
                                    width: 7%;
                                    position: absolute;
                                    right: 1%;
                                    top: 23%;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                &-forget{   
                    a{
                        font-size: .8rem;
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
    }
}
.footer-internit{
    width: 7%; 
    margin: 0 auto;
    @include mq('md',max){
        width: 15%;
    }
}