.page-portfolio {
    .elvas {
        &_development {
            &-title {
                margin: 9% 0 6%;
                @include mq("sm",max){
                    margin: 10% 0;
                }
                h1{
                  
                    @include mq("lg",max){
                        font-size: 1.82rem;
                    }
                    @include mq("md",max){
                        font-size: 1.95rem;
                        margin-top: 7%;
                    }
                    @include mq("xs",max){
                        font-size: 1.5rem;
                        margin-top: 15%;
                    }
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;

                &--item {
                    width: 100%;
                    margin: 2% 0;
                    &:nth-of-type(2n){
                        .elvas_development-box{
                            flex-direction: row-reverse;
                        }
                    }
                }
            }

            &-box {
                display: flex;
                @include mq("md",max){
                    flex-wrap: wrap;
                }

                &--item {
                    width: 50%;
                    @include mq("md",max){
                        width: 100%;
                    }
                    &-text{
                        p{  @include mq("sm",max){
                            text-align: center;
                        }
                            @include mq("xs",max){
                                margin: 8% 3%;
                            }
                        }
                    }
                    &.side-title {
                        display: flex;
                        align-items: center;
                        .elvas_development-box--item-title{
                      
                            @include mq("sm",max){
                                text-align: center;
                                margin: 3rem 3rem 2rem 3rem
                            }
                            @include mq("xs",max){
                                margin: 3rem 1rem 0 1rem;
                            }
                            h2{
                                @include mq("lg",max){
                                    font-size: 1.72rem;
                                }
                                @include mq("sm",max){
                                    margin: 0;
                                }
                                @include mq("xs",max){
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }

                    &.side-empree {
                        box-shadow: 0px 0px 6px #757575b8;

                        .elvas_development-box--item-title {
                            display: flex;
                            justify-content: space-between;

                            h2 {
                                color: #000;
                                font-weight: 700;
                                padding-top: 0.5rem;
                                padding-left: 1.5rem;
                                @include mq("lg",max){
                                    font-size: 1.72rem;
                                }
                                @include mq("xs",max){
                                    padding-left: 2.8rem;
                                }
                            }

                            span {
                                padding: 1rem 2rem;
                                color: #000;
                                @include mq("md",max){
                                    padding: 1rem 1rem;
                                }
                                @include mq("xs",max){
                                    padding: 1rem 2rem 0 0;
                                }
                            }
                        }
                    }

                    &-content {
                        padding: 0rem 5rem 0rem;
                        @include mq("md",max){
                            padding: 0;
                        }
                    }
                    &-header {
                        position: relative;
                    }

                    &-image {
                        height: 50vh;
                        @include mq("sm",max){
                            height: 45vh;
                        }
                        @include mq("xs",max){
                            height: 39vh;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &-link {
                        position: absolute;
                        bottom: 0;
                        z-index: 2;
                        background: #ffff;
                        width: 75%;
                        padding: 1.5rem 0;
                        @include mq("md",max){
                            width: 65%;
                        }
                        @include mq("xs",max){
                            width: 100%;
                        }
                    }

                    &-info {
                        margin: 1% 0;
                        &-image {
                            padding: 1rem;
                            @include mq("sm",max){
                                 padding: 0rem 5rem;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        &--content {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 1rem 0;
                            @include mq("sm",max){
                                padding: 0rem 1.4rem 1.4rem 1.4rem;
                            }
                            @include mq("xs",max){
                                padding: 0rem 1rem 0.4rem 1rem;
                            }
                        }

                        &-area {
                            width: 50%;
                            @include mq("xs",max){
                                width: 100%;
                            }

                            &:last-of-type {
                                width: 100%;
                            }
                        }

                        &-icon {
                            margin-right: 5%;

                            img {
                                width: .8rem;
                            }
                        }

                        &-text {
                            p {
                                color: #000;
                                font-size: .7rem;
                                line-height: 1.8;
                                margin: 0;
                                @include mq("lg",max){
                                    font-size: 0.6rem;
                                }
                                @include mq("md",max){
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.xs-100{
    @include mq("sm",max){
        max-width: 100% !important;
        flex: 100% !important;    
    }
}
