section{
    .elvas{
        &_development{
            &-address{
                &-icon{
                    width: 6%;
                    margin-bottom: 5%;
                }
                &-local{
                    background-color: #cea547;
                    padding: 7%;
                    a{
                        color: #fff;
                        p{
                            @include mq("sm",max){
                                font-size: 0.92rem; 
                            }
                        }
                        h2{
                            @include mq("sm",max){
                                font-size: 1.62rem; 
                            }
                        }
                    }
                }
            }
            &-contato{
                &-cell{
                    a{
                        h2{
                            @include mq("md",max){
                                font-size: 1.52rem; 
                            }
                        }
                    }
                    &-icon{
                        width: 10%;
                        margin-bottom: 15%;

                    }
                    margin-top: 6vh;
                    margin-bottom: 4vh;
                }
                &-tell{
                    a{
                        h2{
                            @include mq("md",max){
                                font-size: 1.62rem; 
                            }
                        }
                    }
                    &-icon{
                        width: 11%;
                        margin-bottom: 15%;
                        margin-top: 10%;
                    }
                    margin-top: 8vh;
                    margin-bottom: 2vh;
                    margin-right: 2vh;
                }
                &-tell,&-cell{
                    border: 2px solid #989898;
                    padding: 4%;
                    width: 50%;
                    a{
                        color: #000;
                    }
                }
            }
            &-canais{
                width: 85%;
                margin-top: 25vh;
                @include mq("md",max){
                    width: 100%;
                    margin-top: 22vh;
                }
                @include mq("sm",max){
                    margin-top: 7vh;
                }
                .elvas{
                    &_development{
                        &-text{
                            p{
                                 font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
            &-titulo{
                text-align: center;
                margin-top: 8vh;
            }
            &-title{
                color: #000;
            }
            &-subtitle{
                p{
                    font-size: 1.1rem;
                    color: #000;
                }
            }
            &-box{
                &-info{
                    @include mq("sm",max){
                        flex-wrap: wrap;
                    }
                }
                &-w50{
                    width: 50%;
                    @include mq("sm",max){
                        width: 100%;
                    }
                }
                &-enviar{
                    @include mq("sm",max){
                        margin-top: 4vh;
                    }
                    input{
                        width: 50%;
                        background-color: #cea547;
                        color: #fff;
                        border-radius: 7px;
                        height: 5vh; 
                    }
                }
                &-checkbox{ 
                    
                    margin-top: 1.5vh;
                    span.wpcf7-list-item{
                        margin: 1.52em 1em 0 0em; 
                        input{
                            appearance: none;
                            border: 2px solid #989292;
                            padding: 0.7rem;
                            border-radius: 8px;
                        }
                        input:checked{
                            background: url(../../src/img/icon/check-solid.svg) no-repeat center center; 
                            background-size: contain;
                        }
                        
                    }
                    input{ 
                        margin-top: 0.5%;
                    }
                    label{
                        font-size: 0.89rem;
                        padding: 0% 1% 0% 0%;
                    }
                }
                &--item{
                    &-form{
                        @include mq("sm",max){
                            margin-left: 4%;
                         }
                    }
                    &-country{
                        @include mq("sm",max){
                            flex-wrap: wrap;
                        }
                    }
                    &-select{
                        @include mq("sm",max){
                           width: 100%;
                        }
                    }
                    &-text-area{
                        textarea{
                            border: 2px solid #cea547;
                            border-radius: 7px;
                            width: 95%;
                            margin-top: 1.6vh;
                            height: 9vh;
                        }
                    }
                    &-country1,&-country2{
                        width: 50%;
                        margin-top: 1.5vh;
                        @include mq("sm",max){
                            width: 100%;
                         }
                    }
                    &-number,&-number2{
                        width: 50%;
                        margin-top: 1.5vh;   
                        @include mq("sm",max){
                            width: 95%;
                         }
                        input{
                            border: 2px solid #cea547;
                            border-radius: 7px;
                            width: 90%;
                            padding: 1.2% 3%;
                            @include mq("sm",max){
                                width: 100%;
                             }
                        }
                    }
                    &-name{
                        input{     
                            border: 2px solid #cea547;
                            border-radius: 7px;
                            width: 95%;
                            padding: 1% 3%;
                            @include mq("sm",max){
                                margin-top: 1.5vh;
                             }
                        }
                    }
                    &-email{
                        margin-top: 1.5vh;
                        input{
                            border: 2px solid #cea547;
                            border-radius: 7px;
                            width: 95%;
                            padding: 1% 3%;
                        }
                    }

                    &-select,{
                        width: 95%;
                        select{
                            border: 2px solid #cea547;
                            border-radius: 7px;
                            width: 100%;
                            padding: 2% 2%;
                        }
                    }
                    &-select2{
                        width: 95%;
                        margin-top: 1.5vh;
                        select{
                            border: 2px solid #cea547;
                            border-radius: 7px;
                            width: 100%;
                            padding: 2% 2%;
                        }
                    }
                    &-text{
                        &-obg{
                            @include mq("sm",max){
                                margin-left: 4%;
                             }
                            p{
                                font-size: 0.8rem;
                                color: #5d5f62;
                            }
                        }
                    }
                }
            }
        }
    }
}
