/**
*   REGISTER FONTS
**/

@font-face{
    font-family:'Montserrat';
    font-weight: 100;
    font-style: normal;
    src: url(./../../src/font/Montserrat-Thin.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 100;
    font-style: italic;
    src: url(./../../src/font/Montserrat-ThinItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 200;
    font-style: normal;
    src: url(./../../src/font/Montserrat-ExtraLight.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 200;
    font-style: italic;
    src: url(./../../src/font/Montserrat-ExtraLightItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url(./../../src/font/Montserrat-Light.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 300;
    font-style: italic;
    src: url(./../../src/font/Montserrat-LightItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url(./../../src/font/Montserrat-Regular.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 400;
    font-style: italic;
    src: url(./../../src/font/Montserrat-Regular.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url(./../../src/font/Montserrat-Medium.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 500;
    font-style: italic;
    src: url(./../../src/font/Montserrat-MediumItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url(./../../src/font/Montserrat-SemiBold.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 600;
    font-style: italic;
    src: url(./../../src/font/Montserrat-SemiBoldItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url(./../../src/font/Montserrat-Bold.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 700;
    font-style: italic;
    src: url(./../../src/font/Montserrat-BoldItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url(./../../src/font/Montserrat-ExtraBold.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 800;
    font-style: italic;
    src: url(./../../src/font/Montserrat-ExtraBoldItalic.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url(./../../src/font/Montserrat-Black.ttf) format('TrueType');
}
@font-face{
    font-family:'Montserrat';
    font-weight: 900;
    font-style: italic;
    src: url(./../../src/font/Montserrat-BlackItalic.ttff) format('TrueType');
}


/** 
* FONTS GLOBALS
**/

$size1: 10px;
$size2: 12px;
$size3: 16px;
$size4: 20px;


$font-default: 'Montserrat';


//CONFIG

*{
    font-family: $font-default;
}