html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d1d1f;
}

a {
    text-decoration: none !important;
    color: $primaryColor;
}

button {
    cursor: pointer;

    &:focus {
        outline-style: none;
    }

    background-color: $themeColor;
    outline-style: none;
}

img {
    width: 100%;
    height: 100%;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

input[type="number"]:-webkit-any() {
    display: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.iti {
    width: 100%;

    &__country {
        font-size: .7rem;
    }

    input {
        padding-left: 52px !important;
        width: 95% !important;
    }
}

.loading {
    text-align: center;
    font-weight: 700;
}

.modal-show {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000040;
    top: 0;
}

.elvas_development-box {
    display: flex;
}

.internit_modal-show {
    animation: internitModShow 1s;
    animation-fill-mode: forwards;
}

.internit_modal-hidden {
    animation: internitModHidden 1s;
    animation-fill-mode: forwards;
}

.internit_modal-show,
.internit_modal-hidden {
    width: 30%;
    margin: 0 auto;

    .internit_modal-head {
        text-align: right;
        background-color: #fff;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);

        button {
            background-color: #fff;
            border: none;
            padding: 2%;
            font-size: 1.5rem;
            margin-right: 2%;
            font-weight: 700;
            outline-style: none;
            cursor: pointer;
            visibility: hidden;

            &:focus {
                outline-style: none;
            }
        }
    }

    .internit_modal-body {
        background-color: #fff;
        text-align: center;
        padding: 10% 5% 10%;
        border-radius: 0 0 .2rem .2rem;

        p {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 9px;
    --c: #292929;
    --w: 95px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}


/**
* Toolbar
**/

toolbar {
    position: fixed;
    right: 0;
    bottom: 20%;
    width: 90px;
    z-index: 999;
    background: #CEA547;
    border-radius: 0.2rem;

    @include mq("xl", max) {
        width: 90px;
    }

    @include mq("sm", max) {
        bottom: 0;
        width: 100%;
        border-radius: 1rem 1rem 0rem 0;
    }

    .toolbar {
        &_content {
            padding: 0.5rem;
        }

        &_box {
            @include mq("sm", max) {
                display: flex;
            }

            &-item {
                text-align: center;
                border-bottom: 3px solid #ffffff4f;
                padding: 0 .2rem;

                @include mq("sm", max) {
                    width: 25%;
                    border-right: 1px solid #e8e8e89e;
                    border-bottom: none;
                }

                &:first-of-type {
                    @include mq("sm", max) {
                        display: none;
                    }
                }

                &:last-of-type {
                    border: none;
                }

                &-text {
                    color: #fff;
                    padding-bottom: .5rem;

                    @include mq("sm", max) {
                        display: none;
                    }

                    span {
                        font-size: .7rem;
                    }
                }

                &-icon {
                    width: 70%;
                    margin: 0 auto;
                    padding: 0.8rem;

                    @include mq("xs", max) {
                        width: 92%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


.elvas {
    &_development {
        &-more {
            .elvas_development-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &--item {
                    width: 30%;
                    @include mq("md",max){
                        width: 100%;
                        margin-top: 10%;
                    }
                    &:first-of-type{
                        @include mq("md",max){
                            margin-top: 0;
                        }
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        position: relative;
                    }
                }
            }
            .elvas_development-card {
                box-shadow: 0 0 4px #8d8d8d8f;

                &.elvas_development-card-hover {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 9;
                    background: #fff;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;

                    .elvas_development-card--header-image img {
                        filter: brightness(0.7);
                    }
                }

                &:hover {
                    &.elvas_development-card-hover {
                        opacity: 1;
                    }

                }

                &--header {
                    position: relative;

                    &-image {
                        height: 40vh;

                        @include mq("lg", max) {
                            height: 35vh;
                        }

                        @include mq("md", max) {
                            height: 40vh;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &-link {
                        position: absolute;
                        bottom: 0;
                        z-index: 9;
                        width: 65%;
                        align-items: center;
                        justify-content: space-between;
                        background: #ffff;
                        padding: 1rem 0.5rem 1rem;

                        h3 {
                            color: #000;
                            font-weight: 600;
                            font-size: 1.5rem;
                        }

                        span {
                            color: #000;
                        }
                    }

                    &-logo {
                        position: absolute;
                        top: 25%;
                        left: 25%;
                        width: 13vw;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &--body {
                    padding: 1.2rem 1rem;

                    &-info {
                        &-icon {
                            width: 13px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        &-text {
                            margin-left: 4%;

                            p {
                               font-size: .6rem;
                                margin: 0;
                                line-height: 2;
                                color: #000;
                            }
                        }

                        &-link {
                            text-align: center;

                            span {
                                color: #000;
                                font-weight: 700;
                                padding-bottom: 4px;
                                border-bottom: 2px solid #000;
                            }
                        }
                    }
                }
            }
        }

    }
}