main.page-home {
    overflow: hidden;
    .background-filter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 137vh;
        max-height: 850px;
        background-color: #6363635c;
    }
    .elvas {
        &_development {
            &--thumb {
                &-carousel {
                    position: absolute;
                    right: -100px;
                    bottom: 0;
                    width: 60%;
                    display: flex;
                    transition: right .8s ease-in-out;
                    &.hidden{
                        right: -40vw;
                        @include mq("xl", max){
                            right: -38vw;
                        }
                        @include mq("md", max){
                            right: -34vw;
                        }
                    }
                    &-logo {
                        width: 15vh;
                        height: 10vh;
                            @include mq("lg",max){
                                width: 11vh;
                            }
                        &-btn {
                            display: flex;
                            align-items: center;
                            transform: translateX(19px);
                            z-index: 9;

                            button {
                                background: #dcbc6d;
                                color: #fff;
                                font-size: 1.3rem;
                                padding: 0.1rem 0.6rem;
                                border-radius: 2rem;
                                transform: rotate(40deg);
                                box-shadow: 0 0 3px #8e8e8e;
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .swiper-container {
                        background: #f1f1f191;
                        width: 96%;
                        padding: 1.5rem 1.5rem 1rem 5rem;
                    }
                }
            }
        }

        &_content {
            &-block {
                position: relative;
                height: 85vh;
                display: flex;
                align-items: center;
                padding: 0 3rem;

                &--info {
                    width: 100%;
                }

                &--list {
                    max-width: 1140px;
                    margin: 0 auto;
                }

                &-title,
                &-subtitle,
                &-text {
                    color: #fff;
                    h2{
                        @include mq("md",max){
                            font-size: 1.72rem;
                        }
                    }
                    h3{
                        @include mq("md",max){
                            font-size: 1.35rem;
                        }
                    }
                    p{
                        @include mq("md",max){
                            font-size: 0.9rem;
                        }
                    }
                }

                &-button {
                    a {
                        color: #fff;
                        background: #dcbc6d;
                        padding: 0.4rem 0.7rem;
                        box-shadow: 0 0 5px #525252;
                        border-radius: 0.2rem;
                        @include mq("md",max){
                            font-size: 0.9rem;
                        }
                    }
                }
            }

            &-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                &-image {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

section.page-home {
    .elvas {
        &_development {
            &-info{
                .elvas_development-title{
                    margin: 3rem 3rem 1rem 0;
                    @include mq("md", max){
                        margin: 3rem 0rem 1rem 0;
                    }
                    h2{ 
                        text-align: left;
                        strong{
                            font-size: 1.7rem;
                            @include mq("sm", max){
                                width: 100%;
                            }
                        }
                        @include mq("md",max){
                           font-size: 1.3rem; 
                        }
                        @include mq("sm", max){
                            width: 100%;
                        }
                    }
                }
            }
            &-title {
                text-align: center;
                margin: 3rem;
                @include mq("sm",max){
                    margin: 2rem 3rem 0rem 3rem;
                 }
                h2{
                    color: #292929;
                    @include mq("md",max){
                       font-size: 1.72rem; 
                    }
                }
            }
            &-link{
                span{
                    color: #292929;
                }
            }
            &-list {
                position: relative;
                z-index: 0;

                &--item {
                    width: 50%;
                    height: auto;
                    padding: 1rem;
                    @include mq("sm",max){
                        width: 100%;
                     }
                     .elvas_development-box { 
                        &--item {
                            &-image{
                                img{
                                    width: 100%;
                                    min-height: 70vh;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                    &:first-of-type {
                        padding-bottom: 5rem;
                        transform: none !important;
                        @include mq("sm",max){
                            padding-bottom: 2rem;
                         }
                    }

                    &:nth-of-type(1n) {
                        float: left;
                    }

                    &:nth-of-type(2n) {
                        float: right;
                    }

                    &:last-of-type {
                        background: #292929;
                        padding-bottom: 31%;
                        @include mq("xl",max){
                            padding-bottom: 13%;
                        }
                        @include mq("sm",max){
                            width: 100%;
                        }


                        .elvas_development-box { 
                            &--item {
                                padding: 2rem 3rem 3rem;
                                @include mq("md",max){
                                    padding: 2rem 1.5rem 2rem;
                                }

                                &-title {
                                    display: block;
                                    @include mq("sm", max){
                                        width: 100%;
                                    }
                                    h4 {
                                        width: 100%;
                                        color: #fff;
                                        @include mq("md",max){
                                            font-size: 1.3rem;
                                        }
                                        
                                    }
                                }

                                &-text {
                                    margin-top: 9%;

                                    p {
                                        color: #e7e7e7;
                                        line-height: 1.7;
                                        @include mq("md",max){
                                            font-size: 0.8rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-illustration {
                position: relative;
            }

            &-box {
                &-name {
                    position: absolute;
                    bottom: 0;
                    background: #fff;
                    padding: 1rem 1rem 0;
                    @include mq("xl", max){
                        width: 65%;
                    }
                }

                &--item {
                    
                    &-subtitle {
                        &-info {
                            p {
                                color: #dcbc6d;
                                font-weight: 600;
                                margin: 0 0 0.5rem;
                                @include mq("md",max){
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                    a:hover{
                        color: #292929;
                    }
                    &-title {
                        display: flex;
                        width: 16vw;
                        @include mq("sm",max){
                            width: 25vw;
                        }
                        h2 {
                            color: #5C5C5C;
                            font-weight: 600;
                            @include mq("md",max){
                                font-size: 1.5rem;
                            }
                            @include mq("sm",max){
                                font-size: 1.4rem;
                            }
                        }
                    }

                    &-link {
                        display: flex;
                        align-items: center;
                        span{
                            color: #000;
                        }
                    }

                    &-info {
                        padding: 2rem 0;
                        @include mq("sm",max){
                            padding: 1rem 0 0 0;
                        }

                        p {
                            @include mq("xxl",max){
                                font-size: 0.9rem;
                            }
                            line-height: 1.8;
                            @include mq("md",max){
                                font-size: 0.81rem;
                            }
                            @include mq("sm", max){
                                margin: 0;
                            }

                            img {
                                width: 28px;
                                padding: 5px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            &-icons {
                float: left;
                width: 100%;
                position: relative;
                z-index: 6;
                margin-top: -17%;

                &-background {
                    background: #6f6f6f;
                    width: 90%;
                    padding: 5rem;
                    margin: 0 auto;
                    @include mq("md",max){
                        padding: 2rem;
                    }
                    @include mq("sm",max){
                        padding: 0rem 2rem 2rem 2rem;
                    }
                }

                &-box {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    &--item {
                        width: 30%;
                        padding: 1rem;
                        border: 1px solid #fff;
                        transition: border .3s ease-in-out;
                        @include mq("sm",max){
                           width: 100%;
                           margin-top: 10%;
                        }

                        &:hover {
                            border-color: #dcbc6d;
                        }

                        &-mark {
                            margin-bottom: 15%;

                            span {
                                font-size: 2.5rem;
                                color: #ddbf73;
                                line-height: .8;
                            }
                        }

                        &-title {
                            h2 {
                                color: $text-white;
                            }
                        }

                        &-list {
                            display: flex;

                            &-text {
                                width: 60%;

                                p {
                                    color: $text-white;
                                    margin: 0;
                                    @include mq("md",max){
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            &-image {
                                width: 3rem;
                                margin-left: auto;
                                margin-right: 5%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }

            }

            &-link {
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }

    &:nth-of-type(2) {
        .elvas {
            &_content{
                &-box{
                    @include mq("sm", max){
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
            &_development {
                &-info {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    @include mq("sm",max){
                        text-align: center;
                        width: 100%;
                    }
                    &-content{
                        @include mq("sm", max){
                            width: 90%;
                            margin: 0 auto;
                        }
                        .elvas_development-info-title{
                            @include mq("sm",max){
                                text-align: center;
                            }
                        }
                    }
                    &-text{
                        p{
                            font-size: 0.9rem;
                        }
                    }
                    &-title {
                        text-align: left;
                        padding: 0.5rem 0;
                        margin: 0;
                    }

                    &-button {
                        margin: 3rem 0;

                        a {
                            background: #e0c06d;
                            color: #fff;
                            padding: 0.8rem;
                            @include mq("md",max){
                                font-size: 0.77rem;
                            }
                        }
                    }
                }

                &-box {
                    &--item {
                        width: 45%;
                        padding: 1.5rem;
                        border: 1px solid #000;
                        margin-bottom: 7%;
                        transition: background .3s ease-in-out;

                        &:hover {
                            background-color: #ddbf73;

                            a {
                                svg {
                                    fill: $text-white;
                                }

                                p {
                                    color: $text-white;
                                }
                            }
                        }

                        &:nth-of-type(1n) {
                            float: left;
                        }

                        &:nth-of-type(2) {
                            margin-top: 10%;
                        }

                        &:nth-of-type(2n) {
                            float: right;
                        }

                        a {
                            text-decoration: none;
                        }

                        &-image {
                            margin: 0 0 15%;
                            width: 23%;

                            svg {
                                fill: #e0c06d;
                                width: 2rem;
                                transition: fill .3s ease-in-out;
                                @include mq("md",max){
                                    width: 1.52rem;
                                } 
                            }
                        }

                        &-text {
                            p {
                                font-size: 1.3rem;
                                color: #000;
                                font-weight: 600;
                                margin: 0;
                                transition: color .3s ease-in-out;
                                @include mq("md",max){
                                    font-size: 0.9rem;
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}