.page-empreendimento {
    .elvas {
        &_development {
            &-title {
                margin: 7% 0 0;

                @include mq("sm", max) {
                    margin: 14% 0 0;
                }

                h1 {
                    @include mq("sm", max) {
                        font-size: 1.5rem;
                    }

                    @include mq("xs", max) {
                        font-size: 1.3rem;
                    }
                }

                h2 {
                    @include mq("xs", max) {
                        font-size: 1.3rem;
                    }
                }
            }

            &-logo {
                &-empreendimento {
                    &-img {
                        width: 13%;
                        margin: 3% auto 3%;

                        @include mq("sm", max) {
                            width: 31%;
                            margin: 0 auto 5%;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            &-box {
                &--item {
                    &-text {
                        &-area {
                            textarea {
                                height: 12vh !important;
                            }
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(2) {
        .elvas {
            &_development {
                &-box {
                    &--item {
                        &:first-of-type {
                            width: 23%;
                            height: 48vh;

                            @include mq("sm", max) {
                                display: none;
                            }
                        }

                        &:last-of-type {
                            width: 70%;
                            margin-left: 2%;

                            @include mq("lg", max) {
                                width: 77%;
                            }

                            @include mq("sm", max) {
                                width: 91%;
                                margin: 0 auto;
                            }
                        }
                    }

                    &--carousel {
                        &-horizontal {
                            height: 100%;
                            .swiper-container {
                                height: 100%;
                                a{
                                    display: block;
                                    height: 49vh;
                                    @include mq("md",max){
                                        height: 45vh;
                                    }
                                }
                                .swiper-slide {
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }

                        &-vertical {
                            .swiper-wrapper{
                                height: 48vh;
                            }
                            .swiper-slide{
                              // height: 11vh !important;
                                &:last-of-type{
                                    margin: 0 !important;
                                }
                            }
                            &-img {
                                @include mq("sm", max){
                                    height: 135px;
                                }
                                img {    
                                    height: 8.2rem;
                                    object-fit: cover;
                                    @include mq("xxl", max){
                                        height: 7.2rem;
                                    }
                                    @include mq("xl", max){
                                        height: 7.5rem;
                                    } 
                                    @include mq("md", max){
                                        height: 5.5rem;
                                    } 

                                }
                            }
                        }
                    }
                }

                &--descricao {
                    margin-top: 8%;

                    @include mq("sm", max) {
                        padding: 0 1.5rem;
                    }

                    &-title {
                        margin-bottom: 7%;

                        @include mq("sm", max) {
                            text-align: center;
                        }

                        h4 {
                            @include mq("xl", max) {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    &-text {
                        font-size: .8rem;
                        text-indent: 15px;
                        line-height: 2;

                        p {
                            @include mq("xl", max) {
                                line-height: 1.7;
                            }
                        }
                    }
                }

                &--detalhes {
                    @include mq("sm", max) {
                        padding: 0 1.5rem;
                    }

                    &-title {
                        p {
                            font-size: .9rem;
                        }
                    }

                    &-info {
                        &-area {
                            justify-content: space-between;

                            &-1,
                            &-2 {
                                width: 50%;
                            }
                        }

                        &-icon {
                            width: 10%;
                        }

                        &-text {
                            margin: 5% 0 0 7%;

                            p {
                                font-size: .8rem;
                                margin: 0;
                                @include mq("md",max){
                                    font-size: .6rem; 
                                }
                            }
                        }
                    }
                }

                &--buttons {
                    @include mq("sm", max) {
                        padding: 0 1.5rem;
                    }

                    &-item {
                        &:first-of-type {
                            margin-top: 9%;
                        }

                        &:last-of-type {
                            margin-top: 2%;
                        }

                        a {
                            display: block;
                            background: #CEA547;
                            color: #fff;
                            text-align: center;
                            padding: .9rem;
                            border-radius: 0.5rem;

                            @include mq("xl", max) {
                                font-size: .8rem;
                                padding: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(3) {
        .elvas {
            &_development {
                &-video {
                    iframe {
                        width: 75%;
                        height: 65vh;

                        @include mq("lg", max) {
                            height: 60vh;
                        }

                        @include mq("sm", max) {
                            width: 90%;
                            margin: 0 auto;
                        }

                        @include mq("xs", max) {
                            height: 35vh;
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(4) {
        .elvas {
            &_development {
                &-abas {
                    margin-bottom: 2%;

                    @include mq("sm", max) {
                        padding: 0 1rem;
                    }

                    @include mq("xs", max) {
                        padding: 0 .8rem;
                    }

                    ul {
                        justify-content: center;

                        @include mq("xl", max) {
                            margin: 0;
                            border: none;
                        }

                        @include mq("sm", max) {
                            display: block;
                        }

                        li {
                            margin: 0 .1%;

                            @include mq("sm", max) {
                                text-align: center;
                            }

                            a {
                                background-color: #C4C4C4;
                                font-size: 1.2rem;
                                padding: 1rem 5rem;
                                color: #ffff;
                                border-radius: 0;
                                transition: background .5s ease-in-out;

                                @include mq("xl", max) {
                                    font-size: 1rem;
                                    padding: 0.8rem 5rem;
                                }

                                @include mq("lg", max) {
                                    padding: 0.6rem 3rem;
                                }

                                &.active {
                                    background: #CEA547;
                                }
                            }
                        }
                    }
                }

                &-box {
                    justify-content: center;

                    &--item {
                        &:first-of-type {
                            width: 70%;

                            @include mq("sm", max) {
                                width: 92%;
                            }
                        }

                        &:last-of-type {
                            width: 20%;

                            @include mq("sm", max) {
                                display: none;
                            }
                        }

                        .swiper-container {
                            .swiper-slide {
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    &--carousel {
                        &-vertical{
                            .swiper-wrapper{
                                height: 55vh;
                                .swiper-slide{
                                  //  height: 14vh!important;
                                }
                            }
                        }
                        &-horizontal {
                            height: 65vh;

                            @include mq("xl", max) {
                                height: 69vh;
                            }

                            @include mq("lg", max) {
                                height: 50vh;
                            }

                            .swiper-container {

                                .swiper-slide {
                                    a{
                                        display: block;
                                         height: 56vh;
                                    }
                                    img {
                                        height: 94%;

                                        @include mq("xl", max) {
                                            height: 91%;
                                        }
                                    }
                                }
                            }
                        }

                        &-img {
                            height: 100%;
                            width: 100%;
                            text-align: center;
                        }

                        &-thumbnail {
                            height: 8rem;
                            padding: 0 1rem 0rem;
                            object-fit: cover;
                            @include mq("xxl", max){
                                height: 7.2rem;
                            }
                            @include mq("xl", max){
                                height: 7.5rem;
                                padding: 0 1rem 1rem;
                            } 
                        }
                    }
                }

                .swiper-thumbnail {

                    &-decorado,
                    &-perspectiva,
                    &-lazer {
                        &-button {

                            &-prev,
                            &-next {
                                position: absolute;
                                top: 45%;

                                @include mq("xl", max) {
                                    top: 50%;
                                }

                                @include mq("sm", max) {
                                    top: 65%;
                                }

                                img {
                                    width: 1rem;
                                }
                            }

                            &-prev {
                                left: 0%;

                                @include mq("xl", max) {
                                    left: 0;
                                }
                            }

                            &-next {
                                right: 2%;

                                @include mq("xl", max) {
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(5) {
        .elvas {
            &_development {
                &-title {
                    margin: 7% 0 3%;

                    @include mq("sm", max) {
                        margin: 14% 0 10%;
                    }

                    h2 {
                        @include mq("xs", max) {
                            font-size: 1.3rem;
                        }
                    }
                }

                &-box {
                    justify-content: space-between;

                    @include mq("sm", max) {
                        display: block;
                    }

                    &--item {
                        @include mq("sm", max) {
                            width: 93%;
                            margin: 0 auto;
                        }

                        &:first-of-type {
                            width: 60%;
                            height: 55vh;
                            box-shadow: 6px 3px 7px #a0a0a0;

                            @include mq("xl", max) {
                                height: 60vh;
                            }

                            @include mq("sm", max) {
                                width: 93%;
                            }

                            @include mq("xs", max) {
                                height: 36vh;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        &:last-of-type {
                            width: 40%;

                            @include mq("sm", max) {
                                width: 90%;
                            }
                        }
                    }
                }

                &-group {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding-top: 5rem;

                    @include mq("sm", max) {
                        padding-top: 3rem;
                    }

                    &--planta {
                        width: 100%;

                        &-title {
                            padding-left: 14%;
                            margin-bottom: 8%;

                            @include mq("sm", max) {
                                padding: 0;
                            }
                        }

                        &-info {
                            ul {
                                list-style: none;
                                padding: 0;
                                margin-left: 4rem;

                                @include mq("sm", max) {
                                    margin: 0;
                                }

                                li {
                                    margin-bottom: 6%;
                                }
                            }

                            &-list {
                                padding-bottom: 6px;
                                padding-right: 2rem;
                                border-bottom: 1px solid #cea547;
                            }

                            &-text {
                                p {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                &-below {
                    display: flex;

                    @include mq("sm", max) {
                        display: block;
                    }

                    &--item {
                        &:first-of-type {
                            width: 60%;

                            @include mq("sm", max) {
                                display: none;
                            }
                        }

                        &:last-of-type {
                            width: 40%;

                            @include mq("sm", max) {
                                width: 100%;
                                margin-top: 4%;
                            }

                            a {
                                width: 86%;
                                color: #ffff;
                                background: #CEA547;
                                padding: 1rem 0;
                                display: block;
                                text-align: center;
                                margin-left: auto;

                                @include mq("sm", max) {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }

                    &--carousel {
                        &-img {
                            height: 15vh;
                            box-shadow: 0 0 11px #8f8d8d;
                            margin: 4% 4%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                    }
                }

                .swiper-thumbnail {
                    &-plants {
                        &-button {

                            &-prev,
                            &-next {
                                position: absolute;
                                top: 45%;

                                @include mq("sm", max) {
                                    top: auto;
                                    bottom: 32%;
                                }

                                img {
                                    width: 1rem;
                                }
                            }

                            &-prev {
                                left: -3%;

                                @include mq("sm", max) {
                                    left: 0;
                                }
                            }

                            &-next {
                                right: -3%;

                                @include mq("sm", max) {
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(6) {
        background: #F4F4F4;
        margin-top: 5%;

        .elvas {
            &_development {
                &-title {
                    margin: 5rem 0;
                }

                &-box {
                    @include mq("sm", max) {
                        display: block;
                    }

                    &--item {
                        width: 32%;

                        @include mq("sm", max) {
                            width: 94%;
                            margin: 0 auto 7%;
                        }

                        @include mq("xs", max) {
                            margin: 0 auto 13%;
                        }

                        &:nth-of-type(2) {
                            .elvas_development-box--item-info-title {
                                @include mq("lg", max) {
                                    margin-bottom: 17%;
                                }

                                @include mq("sm", max) {
                                    margin-bottom: 0%;
                                }
                            }
                        }

                        &-top {
                            display: flex;
                        }

                        &-icon {
                            width: 30%;

                            img {
                                width: 60%;

                                @include mq("lg", max) {
                                    width: 60%;
                                }
                            }
                        }

                        &-info {
                            width: 60%;

                            @include mq("lg", max) {
                                width: 75%;
                            }

                            &-text {
                                font-size: .8rem;
                            }

                            &-bottom {
                                margin-top: 5%;

                                @include mq("sm", max) {
                                    margin-top: 1%;
                                }
                            }

                            &-list {
                                ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
 
                                    li {
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }
                    }

                    &--button {
                        justify-content: center;
                        margin: 4rem 0;

                        @include mq("xs", max) {
                            margin: 3rem 0;
                        }

                        a {
                            color: #fff;
                            padding: 1rem 7rem;
                            background: #cea547;
                            border-radius: 0.5rem;

                            @include mq("sm", max) {
                                display: block;
                                width: 90%;
                                text-align: center;
                                padding: 1rem 0;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(7) {
        .elvas {
            &_development {
                &-title {
                    @include mq("sm", max) {
                        margin: 14% 0 6%;
                    }
                }

                &-box {
                    @include mq("sm", max) {
                        padding: 0 1.5rem;
                    }

                    &--item {

                        &:first-of-type,
                        &:last-of-type {
                            width: 8%;

                            @include mq("sm", max) {
                                width: 21%;
                            }

                            @include mq("xs", max) {
                                width: 33%;
                            }
                        }

                        &:nth-of-type(2) {
                            width: 84%;
                            display: flex;
                            align-items: center;

                            @include mq("sm", max) {
                                width: 80%;
                            }
                        }

                        &-info {
                            &-icon {
                                background-color: #cea547;
                                padding: 1rem;
                                border-radius: 5rem;
                                z-index: 1;
                                position: relative;

                                &:first-of-type {
                                    transform: translateX(5px);

                                    @include mq("sm", max) {
                                        transform: translateX(2px);
                                    }
                                }

                                &:last-of-type {
                                    transform: translateX(-2px);

                                    @include mq("sm", max) {
                                        transform: translateX(2px);
                                    }
                                }
                            }

                            &-progress {
                                width: 100%;
                                background: #ececec;
                                text-align: center;
                                position: relative;

                                span[data-progress] {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    transition: clip-path .3s ease-in-out;
                                    clip-path: polygon(0px 0px, 00% 0px, 00% 100%, 0px 100%);
                                }
                            }
                        }
                    }
                }

                &--button {
                    margin: 3% 0 9%;

                    @include mq('lg', max) {
                        margin: 13% 0 9%;
                    }

                    a {
                        background: #cea547;
                        color: #ffff;
                        padding: 1.2rem 4rem;
                        border-radius: 0.85rem;

                        @include mq("sm", max) {
                            padding: 1.2rem 2rem;
                        }

                        @include mq("xs", max) {
                            width: 80%;
                            font-size: .7rem;
                            padding: 1.2rem;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(8) {
        .elvas {
            &_development {
                &--local {
                    width: 90%;

                    @include mq("xl", max) {
                        width: 95%;
                    }

                    @include mq("sm", max) {
                        width: 92%;
                        margin: 12% auto 0;
                    }

                    &-title {
                        h3 {
                            @include mq("xl", max) {
                                font-size: 1.4rem;
                            }
                        }
                    }

                    &-endereco {
                        &-text {
                            margin-left: 3%;

                            @include mq("xl", max) {
                                display: flex;
                                align-items: center;
                                padding-top: 0.1rem;
                            }

                            p {
                                @include mq("xl", max) {
                                    font-size: .7rem;
                                }
                            }
                        }
                    }

                    &-info {
                        margin-top: 6%;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0 0 0 1%;

                            li {
                                padding-bottom: 2%;
                                border-bottom: 1px solid #CEA547;
                                margin-bottom: 4%;
                            }
                        }

                        &-text {
                            p {
                                margin: 0;

                                @include mq("xl", max) {
                                    font-size: .7rem;
                                }
                            }
                        }
                    }

                    &-map {
                        height: 70vh;

                        @include mq("sm", max) {
                            height: 40vh;
                            margin-top: 8%;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(9) {
        background-color: #F4F4F4;
        .elvas {
            &_development {
                &-title {
                    h2 {
                        @include mq("xs", max) {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}