chatbot{
    .chatbot{
        &_content{
            position: fixed;
            right: -100px;
            bottom: -150px;
            max-width: 350px;
            border-top: 4px solid black;
            background: #E6E6FA;
            transition: transform .3s ease-in-out;
            transform: scale3d(.1, .1, .1);
            opacity: 0;
            animation-fill-mode: forwards;
            z-index: 9999;
        }
        &_header{
            padding: 0 3%;
            border-bottom: 2px solid #d0d0d0a6;
            &-box{
                display: flex;
                padding-top: 3%;
                padding-bottom: 1%;
                &-title{
                    width: 50%;
                    &-bloc{
                        h5{
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }
                }
                &-icons{
                    display: flex;
                    width: 50%;
                    justify-content: flex-end;
                    &--alert, &--mini, &--close{
                        width: 15%;
                        text-align: center;
                        margin: 0 2%;
                    }
                    &--mini{
                        svg{
                            width: 50%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                    &--close{
                        svg{
                            width: 45%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                    &--alert{
                        &-text{
                            background: #00BFFF;
                            color: #fff;
                            border-radius: .2rem;
                            transition: background .05s ease-in-out, color .5s ease-in-out;
                        }
                    }
                }
            }
        }
        &_body{
            &-content{
                height: 50vh;
                overflow-y: scroll;
                padding-top: 3%;
                padding-left: 3%;
            }
            &-messages{
                &-box{
                    &-bot, &-user{
                        &-status{
                            display: flex;
                            &-name{
                                width: 50%;
                                span{
                                    font-size: .8rem;
                                }
                            }
                            &-time{
                                width: 50%;
                                text-align: end;
                                span{
                                    font-size: .8rem;
                                }
                            }
                        }
                        &-info{
                            display: flex;
                            &-img{
                                width: 20%;
                            }
                            &-box{
                                width: 80%;
                                padding: 0 5%;
                                &-message{
                                    background: #fff;
                                    padding: 3%;
                                    p{
                                        font-size: .9rem;
                                        margin: 0;
                                    }
                                    ul{
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                        li{
                                            margin-bottom: 5%;
                                            a{
                                                font-size: .9rem;
                                                color: #000;
                                                box-shadow: 0 0 2px;
                                                text-decoration: none;
                                                display: block;
                                                padding: 2%;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    input{
                                        margin: 2% 0;
                                    }
                                }
                            }
                        }
                    }
                    &-user{
                        &-info{    
                            &-box{
                                &-message{
                                    background: #2b89d8;
                                    color: #fff;
                                    p{
                                        font-size: .9rem;
                                    }
                                }
                            }
                        }
                        &-status{
                            justify-content: flex-end;
                        }
                        
                    }
                }
            }
        }
        &_footer{
            margin-bottom: 2%;
            &-box{
                &-square{
                    display: flex;
                    justify-content: center;
                    &-input{
                        width: 70%;
                        input{
                            width: 100%;
                            outline-color: #08b8f3ab;
                            transition: box-shadow .3s ease;
                            &:focus{
                                box-shadow: 0px 0px 7px #00bfff8c, 0px 0px 5px #00bfff8c, 0px 0px 5px #00bfff8c;
                            }
                        }
                    }
                    &-btn{
                        width: 25%;
                        .chatbot_footer-button{
                            text-align: center;
                            button{
                                background: #00BFFF;
                                color: #fff;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

balloon{
    position: fixed;
    right: 1%;
    bottom: 2%;
    width: 5%;
    animation: cute 2.5s ;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
    animation-delay: 0;
    animation-fill-mode: forwards;
    cursor: pointer;
    .balloon{
        &_content{
            &-box{
               svg{
                    color: #00BFFF;
                    background: #fff;
                    border-radius: 2rem;                
               }
            }   
        }
    }
}