footer.menu-header-container {
    ul {
        margin: 0;

        @include mq("md", max) {
            display: block;
        }
    }

    li {
        @include mq("md", max) {
            border-bottom: 1px solid #fff;
            margin-bottom: 1rem;
        }
    }
}


footer {
    padding: 2rem 0;

    .elvas {
        &_development {
            &-navbar {
                nav.main-navigation {
                    li.menu-item {
                        @include mq("lg", max) {
                            position: relative;
                            margin-top: 2%;
                            width: 30%;
                        }

                        @include mq("md", max) {
                            width: 100%;
                        }
                    }
                }

            }

            &-nav {
                &--logo {
                    width: 80%;
                    a{
                        @include mq("sm", max){
                            display: block;
                            width: 60%;
                            margin: 0 auto;
                        }
                    }
                    @include mq("sm", max) {
                        margin: 0 auto 2rem;
                    }
                }
            }

            &-contato,
            &-redes,
            &-navbar {
                &-title {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 700;

                        @include mq("lg") {
                            font-size: 1rem;
                        }
                    }
                }

                &-list {
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        li {
                            font-size: .7rem;
                            margin: .5rem 0;

                            @include mq("md", max) {
                                font-size: 0.66rem;
                            }

                            a {
                                text-decoration: none;
                                color: #000;
                                font-weight: 600;
                            }

                        }
                    }
                }
            }

            &-redes {
                &-list {
                    ul {
                        li {
                            a {
                                img {
                                    width: 16px;
                                    background: #cea647;
                                    padding: 5px 5px 3px;
                                }
                            }
                        }
                    }
                }
            }

            &-navbar {
                ul {
                    justify-content: space-between;

                    @include mq("lg", max) {
                        flex-wrap: wrap;
                    }

                    @include mq("md", max) {
                        display: block;
                        background: none;
                        text-align: left;
                        position: inherit;
                    }

                    li {
                        a {
                            font-size: .7rem;
                            text-decoration: none;
                            color: #000;
                            font-weight: 600;
                        }
                    }
                }

            }

            .internit-mark {
                a {
                    position: absolute;
                    right: 0;
                    bottom: -3vw;
                    width: 8%;
                }
            }
        }
    }
}