.menu-header-container {
    ul {
        margin: 0;

        @include mq("md", max) {
            position: absolute;
            z-index: 9;
            background: #292929;
            left: 0;
            width: 100%;
            padding: 0.5rem;
            text-align: center;
            height: 25vh;
            overflow: hidden;
        }
    }

    li {
        @include mq("md", max) {
            border-bottom: 1px solid #fff;
            margin-bottom: 1rem;
        }
    }
}

header {
    .elvas {
        background: #292929;

        &_development {
            &-nav {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;

                @include mq("md", max) {
                    padding: .5rem 0;
                }

                &--logo {
                    width: 25%;
                    @include mq("lg", max){
                        width: 17%;
                    }

                    @include mq("md", max) {
                        width: 30%;
                    }

                    @include mq("sm", max) {
                        width: 40%;
                        padding: 0;
                    }

                    a {
                        width: 60%;
                        @include mq("lg",max){
                            width: 74%;
                        }

                        @include mq("md", max) {
                            width: 50%;
                            display: block;
                            margin: 2% auto;
                        }

                        @include mq("sm", max) {
                            width: 75%;
                            margin: 6% auto;
                        }
                    }
                }

                &-search {
                    width: 60%;
                    @include mq("lg",max){
                        width: 36%;
                    }
                    @include mq("sm",max){
                        width: 90%;
                    }

                    &-bar {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;

                        form {
                            width: 100%;
                            display: flex;
                            align-items: center;

                            @include mq("sm", max) {
                                text-align: center;
                            }

                            label {
                                width: 85%;
                                margin: 0;

                                @include mq("xl", max) {
                                    width: 90%;
                                    margin: 0 auto;
                                }

                                input {
                                    width: 100%;
                                    color: #ffff;
                                    background: transparent;
                                    padding: .3rem 0;
                                    padding-left: 10px;
                                    border: 1px solid white;
                                    font-size: 0.9rem;
                                    @include mq("lg",max){
                                        padding: 0.47rem 0; 
                                        font-size: 0.68rem;
                                        padding-left: 5px;
                                    }

                                    &::placeholder {
                                        color: #fff;
                                    }
                                }
                            }

                            input[type='submit'] {
                                position: absolute;
                                right: 15%;
                                color: #d7b66a;
                                background: #fff url(../../src/img/icon/search-icon.png) no-repeat center center;
                                background-size: 55%;
                                width: 10%;
                                font-size: 0;
                                height: 34px;
                                border-radius: 5px;
                                @include mq("xl", max){
                                    right: 0;
                                    width: 14%;
                                }
                                @include mq("sm", max) {
                                    right: 5%;
                                    width: 29px;
                                    height: 33px;
                                }
                            }
                        }
                    }
                }

                &-navbar {
                    width: 80%;

                    @include mq("md", max) {
                        width: 11%;
                    }

                    @include mq("sm", max) {
                        width: 22%;
                    }

                    @include mq("lg") {
                        width: 100%;
                    }

                    &-img {
                        @include mq("sm", max) {
                            width: 100%;
                            margin-left: auto;
                        }
                    }

                    nav {
                        button {
                            border: none;
                            background-color: #292929;

                            @include mq("md") {
                                display: none;
                            }

                            @include mq("md", max) {
                                width: 90%;
                            }

                            @include mq("sm", max) {
                                padding: 0;
                                width: 9vw;
                                margin: 12% auto;
                            }

                            @include mq("xs", max) {
                                width: 10vw;
                            }
                        }
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        transition: height .4s ease-in-out;
                        padding: 0.5rem 0;
                        margin: 0;

                        @include mq("md", max) {
                            position: absolute;
                            left: 0;
                            top: 92%;
                            z-index: 58;
                            width: 100%;
                            height: 0px;
                            text-align: center;
                            background: #292929;
                            overflow: hidden;
                        }

                        li {
                            position: relative;
                            margin: 0 1rem 0 0;

                            @include mq("lg", max) {
                                margin: 0.31rem 0.61rem;
                            }

                            @include mq("md", max) {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                padding: 0.5rem;
                                margin: 0;
                            }

                            &:hover {
                                background: #f3f3f3;

                                a {
                                    color: #292929;
                                    font-weight: 700;
                                }
                            }

                            a {
                                font-size: 0.694rem;
                                color: #fff;
                                text-decoration: none;
                                padding: 7px;

                                @include mq("lg", max) {
                                    font-size: 0.6rem;
                                }

                                @include mq("md", max) {
                                    font-size: 0.91rem;
                                }

                                @include mq("sm", max) {
                                    font-size: 0.8rem;
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    right: -20%;
                                    top: 50%;
                                    padding: 2px;
                                    background-color: #d7b66a;
                                    border-radius: 1rem;

                                    @include mq("lg") {
                                        right: -12%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}