.page-acompanhe-obra {
    .elvas {
        &_development {
            &-title {
                text-align: center;
                margin: 6% 0 4%;
                h1{
                    @include mq("sm",max){
                    font-size: 1.82rem ;
                    text-align: center;
                    margin: 10% 0 9%;
                    } 
                }

            }

            &-list {
                display: flex;
                justify-content: space-between;
                box-shadow: 0 0 4px #00000061;
                margin: 3% 0;
                max-height: 260px;
                @include mq("md", max){
                    max-height: 100%;
                }
                @include mq("sm",max){
                    flex-wrap: wrap;
                }

                &--item {
                    width: 50%;
                    @include mq("sm",max){
                        width: 100%;
                    }
                    @include mq("md",max){
                        height: 31vh;
                    }

                    &:first-of-type {
                        .elvas_development-image {
                            width: 100%;
                            height: 100%;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    &:last-of-type {
                        padding: 3rem;
                        @include mq("md", max){
                            padding: 1rem;
                        }
                        @include mq("sm",max){
                            padding: 1rem;
                            height: auto;
                            margin-bottom: 2rem;
                        }
                    }
                }

                &:nth-of-type(2n) {
                    flex-direction: row-reverse;
                }
            }

            &-box {
                justify-content: space-between;
                @include mq("sm",max){
                    flex-wrap: wrap;
                }

                &--item {
                    width: 50%;
                    @include mq("sm",max){
                        width: 100%;
                    }

                    &:last-of-type {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }

                    &-image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;

                        &-logo {
                            width: 55%;
                            @include mq("md",max){
                                width: 80%;
                            }
                            @include mq("sm",max){
                                width: 50%;
                            }
                        }
                    }

                    &-info {
                        text-align: center;
                        &-text{
                            p{
                                @include mq("md",max){
                                    font-size: 0.7rem;
                                }                                
                            }

                        }
                        &-account {
                            .pie{
                                @include mq("md",max){
                                    width: 70%;
                                    --w: 85px;
                                }
                                @include mq("sm",max){
                                    --w: 89px;
                                }
                            }
                            p {
                                font-size: 1.2rem;
                                color: #fff;
                                margin: 0;
                            }

                            span {
                                position: absolute;
                                top: 8%;
                                left: 7%;
                                background: #CEA547;
                                width: 85%;
                                height: 85%;
                                border-radius: 6rem;
                                z-index: -1;
                            }
                        }
                    }
                }
            }

            &-link {
                &-text {
                    a {
                        color: #292929;
                        padding-bottom: 0.2rem;
                        border-bottom: 3px solid #cea547;
                        @include mq("md",max){
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}